.form{
  .validation-icon{
    position: absolute;
    top: 7px;
    right: 19px;
    &.icon-spin4{
      color: #000000;

    }
    &.icon-ok{
      color: #5cb85c;
    }
    &.icon-cancel{
      color: #BE0D10;
    }
  }
}