@import "animation.css";
@import "fontello-codes.css";
@import "fontello/animation.css";
@import "fontello/fontello-codes.css";
@font-face {
  font-family: Gabriela;
  src: url('../fonts/Gabriela-Regular.ttf');
}
* {
  -moz-border-radius: 0 !important;
  -webkit-border-radius: 0 !important;
  border-radius: 0 !important;
}
.main-holder {
  overflow: hidden;
}
#background {
  background: url("images/bg.png") no-repeat;
  background-size: cover;
  position: fixed;
  width: 100%;
  height: 100%;
}
body {
  color: #989898;
  line-height: 20px;
}
@media (max-width: 767px) {
  body {
    padding: 0;
  }
  body .header {
    padding: 20px;
  }
  body .footer {
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  }
  body .content-holder {
    padding: 0 20px 30px 20px !important;
  }
  body.home .content-holder {
    padding: 20px 20px 30px 20px !important;
  }
  body.home .content-holder:before {
    display: none;
  }
}
a {
  transition: all 0.3s ease 0s;
}
td {
  vertical-align: middle !important;
}
.featured-thumbnail,
.thumbnail,
figure.frame {
  background: none;
  border-radius: 0;
  padding: 0;
  border: none;
  box-shadow: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.featured-thumbnail img,
.thumbnail img,
figure.frame img {
  display: inline-block;
  border: none;
  background: none;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
figure.frame {
  margin-bottom: 10px;
  margin-right: 20px;
  margin-left: 0;
  text-align: left;
}
figure.frame p {
  margin: 0 !important;
}
@media (max-width: 767px) {
  figure.frame {
    text-align: left;
  }
}
figure.frame.alignnone {
  margin: 0 0 30px;
}
@media (min-width: 768px) and (max-width: 979px) {
  figure.frame.alignleft {
    float: none;
    margin: 0 0 20px 0;
  }
}
@media (max-width: 480px) {
  figure.frame.alignleft {
    float: none;
    margin: 0 0 20px 0;
  }
}
/*.btn, .reply a {
    border-radius:2px;
    border:none;
    color:#fff;
    text-shadow:none;
    font:18px/1.2em 'Gabriela', serif;
    text-transform:lowercase;
    padding:8px 19px 9px;
    letter-spacing:0;
    height:auto;
    box-shadow:none;
    text-decoration:none;
    background:#494949;
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
    transition:all 0.3s ease 0s;
    @media (max-width: 767px) {
        margin-bottom:30px;
    }
    &:hover, &:active {
        background:#e9e9e9;
        text-decoration:none;
        color:#4c4c4c;
        box-shadow:none;
    }
    &:focus
    {
        color:#fff;
        box-shadow:none;
        background:#494949;
    }
}*/
.btn.btn-success {
  color: #fff;
  background-color: #5cb85c;
  border-color: #4cae4c;
}
.btn.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4;
}
.btn.btn-danger {
  color: #fff;
  background-color: #d9534f;
  border-color: #d43f3a;
}
textarea.changed,
input[type="text"].changed,
input[type="password"].changed,
input[type="datetime"].changed,
input[type="datetime-local"].changed,
input[type="date"].changed,
input[type="month"].changed,
input[type="time"].changed,
input[type="week"].changed,
input[type="number"].changed,
input[type="email"].changed,
input[type="url"].changed,
input[type="search"].changed,
input[type="tel"].changed,
input[type="color"].changed,
select.changed,
.uneditable-input.changed,
select.changed {
  border-color: rgba(255, 185, 122, 0.8);
  background-color: rgba(255, 221, 136, 0.5);
  box-shadow: 0 0 8px rgba(82, 168, 236, 0.6);
}
/* textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], select, .uneditable-input {
    padding:7px 10px;
    margin:0 0 10px 0;
    font-size:14px;
    line-height:1.2em;
    text-transform:none;
    color:#989898;
    text-decoration:none;
    position:relative;
    border-radius:0;
    background:none;
    box-shadow:none;
    border:1px solid #e8e8e8 !important;
    transition:all 0.3s ease 0s;
    &:focus{
      background:#f9f9f9;
      box-shadow:none;
      border-color:#d8d8d8 !important;
    }
  }*/
.wpcf7-form p.field input {
  height: 35px;
}
.wpcf7-form p.field input:focus {
  border-color: #d8d8d8 !important;
}
.wpcf7-form textarea {
  color: #989898 !important;
}
.wpcf7-form textarea.watermark {
  color: #989898 !important;
}
.wpcf7-form textarea:focus {
  border-color: #d8d8d8 !important;
}
.wpcf7-form .wpcf7-not-valid-tip {
  padding: 7px 8px 2px !important;
}
@media (min-width: 979px) and (max-width: 1200px) {
  .wpcf7-form .wpcf7-not-valid-tip {
    font-size: 10px !important;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .wpcf7-form .wpcf7-not-valid-tip {
    padding: 2px 3px !important;
    font-size: 7px !important;
  }
}
.wpcf7-form .submit-wrap .btn {
  height: auto;
}
.header {
  border: none;
  padding: 28px 0 0;
  position: relative;
  z-index: 99;
}
.social-nets-wrapper {
  text-align: right;
  display: inline-block;
  vertical-align: top;
}
@media (max-width: 767px) {
  .social-nets-wrapper {
    text-align: left;
  }
}
.social-nets-wrapper .social {
  display: inline-block;
  padding: 63px 45px 22px 0;
  margin: 0 !important;
  list-style-type: none;
  text-align: right;
}
@media (max-width: 767px) {
  .social-nets-wrapper .social {
    padding: 20px 0;
  }
}
.social-nets-wrapper .social li {
  display: inline-block;
  width: 25px;
  height: 25px;
  border-radius: 50%;
  background: #cdcdcd;
  text-align: center;
  margin: 0 0 0 11px;
}
.social-nets-wrapper .social li:hover {
  background: #ffb72e;
}
@media (max-width: 767px) {
  .social-nets-wrapper .social li {
    margin: 0 11px 0 0;
  }
}
.social-nets-wrapper .social li a {
  color: #fff;
  display: block;
}
.social-nets-wrapper .social li a:hover {
  color: #fff;
  text-decoration: none;
}
.social-nets-wrapper .social li a i {
  font-size: 17px;
  line-height: 25px;
}
.logo {
  margin: 0 0 0 21px;
}
.logo .logo_tagline {
  font: 15px/1.2em 'Gabriela', serif;
  color: #8d8d8d;
  text-transform: none;
  display: inline-block;
  margin: 0 0 0 -11px;
  position: relative;
  top: 8px;
}
@media (max-width: 979px) {
  .logo .logo_tagline {
    margin: 0;
    top: 5px;
  }
}
@media (max-width: 1200px) {
  .logo {
    margin: 0;
  }
}
.logo.pull-left {
  float: none;
}
.logo .logo_h__txt a:hover,
.logo .logo_h__txt a:active,
.logo .logo_h__txt a:focus {
  color: #464646;
  text-decoration: none;
}
.slider {
  margin-top: 30px;
}
@media (max-width: 480px) {
  .slider {
    display: none !important;
  }
}
.camera_caption {
  display: inline-block;
  bottom: auto;
  top: 12%;
}
@media (min-width: 768px) and (max-width: 1200px) {
  .camera_caption {
    top: 10%;
  }
}
@media (max-width: 767px) {
  .camera_caption {
    display: none !important;
  }
}
.camera_caption > div {
  padding: 0;
  background: none;
  width: 540px;
  position: relative;
  left: 50%;
  margin-left: -585px;
  text-align: center;
}
@media (min-width: 979px) and (max-width: 1200px) {
  .camera_caption > div {
    margin-left: -470px;
    width: 480px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .camera_caption > div {
    width: 380px;
    margin-left: -360px;
  }
}
.camera_caption > div h2 {
  font: 48px/60px 'Henny Penny', cursive;
  text-transform: none;
  color: #ffb72e;
  letter-spacing: 0;
  margin-bottom: 35px;
}
@media (min-width: 979px) and (max-width: 1200px) {
  .camera_caption > div h2 {
    font-size: 38px;
    line-height: 50px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .camera_caption > div h2 {
    font-size: 25px;
    line-height: 35px;
    margin-bottom: 15px;
  }
}
.content-holder {
  margin-top: 20px;
}
.content-holder:before {
  content: '';
  width: 100%;
  height: 156px;
  position: absolute;
  background-size: 100% auto;
  left: 0;
}
#sidebar .block,
#content .block {
  background-color: #ffffff;
  box-shadow: 0 0 0 1px rgba(68, 89, 98, 0.12), 0 3px 12px rgba(68, 89, 98, 0.18);
  padding: 10px 15px;
  position: relative;
}
#sidebar.right,
#content.right {
  padding-right: 10px;
}
#sidebar.left,
#content.left {
  padding-left: 10px;
}
#sidebar.row,
#content.row {
  padding-top: 0;
}
.title-section {
  margin: 7px 0 40px;
  padding: 0;
  text-align: left;
  background: none;
  position: relative;
}
.title-section .title-header {
  letter-spacing: 0;
  margin: 0 0 37px 0;
  text-transform: none;
  font: 24px/1.2em 'Gabriela', serif;
}
.sidebar .widget {
  width: auto;
  margin-bottom: 60px;
}
.sidebar .widget > h3 {
  margin-bottom: 26px;
  font: 24px/1.2em 'Gabriela', serif;
  letter-spacing: 0;
  text-transform: none;
}
.sidebar .widget ul {
  padding-left: 10px;
}
.sidebar.right {
  position: absolute;
  right: 0;
  top: 0;
}
[id*="categories"] ul,
[id*="archives"] ul,
[id*="nav_menu"] ul,
.list.custom-list ul {
  margin: 0;
  list-style-type: none;
}
@media (max-width: 767px) {
  [id*="categories"] ul,
  [id*="archives"] ul,
  [id*="nav_menu"] ul,
  .list.custom-list ul {
    margin-top: 30px;
  }
}
[id*="categories"] ul li,
[id*="archives"] ul li,
[id*="nav_menu"] ul li,
.list.custom-list ul li {
  background: none;
  margin: 0;
  padding: 6px 0 5px;
}
[id*="categories"] ul li:before,
[id*="archives"] ul li:before,
[id*="nav_menu"] ul li:before,
.list.custom-list ul li:before {
  display: none;
}
[id*="categories"] ul li a,
[id*="archives"] ul li a,
[id*="nav_menu"] ul li a,
.list.custom-list ul li a {
  font: 13px/1.2em "Trebuchet MS", sans-serif;
  color: #6f6f6f;
  text-transform: uppercase;
  display: inline;
}
[id*="categories"] ul li a:before,
[id*="archives"] ul li a:before,
[id*="nav_menu"] ul li a:before,
.list.custom-list ul li a:before {
  content: "";
  width: 15px;
  height: 14px;
  margin-right: 8px;
  display: inline-block;
  position: relative;
  top: 2px;
  background: url(images/cat.png);
}
[id*="categories"] ul li a:hover,
[id*="archives"] ul li a:hover,
[id*="nav_menu"] ul li a:hover,
.list.custom-list ul li a:hover,
[id*="categories"] ul li a:active,
[id*="archives"] ul li a:active,
[id*="nav_menu"] ul li a:active,
.list.custom-list ul li a:active {
  color: #323232;
  text-decoration: none;
  background: none;
}
[id*="categories"] ul li a:hover:before,
[id*="archives"] ul li a:hover:before,
[id*="nav_menu"] ul li a:hover:before,
.list.custom-list ul li a:hover:before,
[id*="categories"] ul li a:active:before,
[id*="archives"] ul li a:active:before,
[id*="nav_menu"] ul li a:active:before,
.list.custom-list ul li a:active:before {
  background-position: 0 -14px;
}
.main-holder {
  position: relative;
  z-index: 1;
  overflow: hidden;
}
.footer {
  background: none;
  padding: 10px 0;
  border: none;
  position: relative;
  z-index: 100;
  margin: 20px 0;
  min-height: 100px;
}
.footer .copyright {
  padding: 10px 0;
}
.footer .footer-text {
  font: 14px/1.2em 'Gabriela', serif;
  color: #6f6f6f;
  text-transform: uppercase;
}
.footer .footer-text a {
  color: #6f6f6f;
}
.breadcrumb {
  margin: 20px 0 0;
  background: #ffffff;
  padding: 8px 9px 7px;
  text-transform: none;
  text-shadow: none;
  letter-spacing: 0;
  border: none;
  border-radius: 0;
  box-shadow: 0 0 0 1px rgba(68, 89, 98, 0.12), 0 3px 12px rgba(68, 89, 98, 0.18);
  font: 14px/1.2em Arial, "Helvetica Neue", Helvetica, sans-serif;
}
.breadcrumb > li {
  text-shadow: none;
  display: inline-block;
  line-height: 1.2em;
}
.breadcrumb > li.active {
  color: #3c3c3c;
}
.breadcrumb > li a {
  color: #989898;
  text-shadow: none;
}
.breadcrumb .divider {
  padding: 0 2px;
}
.breadcrumb .divider :after {
  color: #989898;
  content: "/";
  font: 14px/1.2em Arial, "Helvetica Neue", Helvetica, sans-serif;
}
/* NAVBAR */
.nav__primary {
  position: relative;
  float: none;
  padding: 0;
  margin: 8px 0 0 0;
  z-index: 100;
  background: none;
}
.nav__primary:before {
  content: "";
  width: 100%;
  height: 7px;
  background: #848484;
  display: block;
  pointer-events: none;
  position: absolute;
}
@media (max-width: 767px) {
  .nav__primary:before {
    display: none !important;
  }
}
.nav__primary .select-menu {
  height: 35px;
}
.nav__primary .sf-menu {
  float: none;
  display: block;
  position: relative;
  padding: 0;
  z-index: 1;
}
.nav__primary .sf-menu > li {
  background: none;
  float: left;
  text-align: center;
  display: block;
  position: relative;
  padding: -6px;
  margin: 0;
  width: 187px;
  border: none;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  z-index: 10;
}
.nav__primary .sf-menu > li:first-child {
  margin: 0;
  border: none;
}
.nav__primary .sf-menu > li:last-child,
.nav__primary .sf-menu > li.fifth {
  /*border-right:1px solid #fff;*/
}
.nav__primary .sf-menu > li:before {
  content: "";
  width: 100%;
  height: 7px;
  background: #848484;
  display: block;
  pointer-events: none;
  margin-bottom: 10px;
}
.nav__primary .sf-menu > li:after {
  content: "";
  width: 0px;
  height: 0px;
  border-style: solid;
  border-width: 4px 3.5px 0 3.5px;
  border-color: #848484 transparent transparent transparent;
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -2px;
  transition: all 0.3s ease 0s;
}
.nav__primary .sf-menu > li.first:before {
  background: #fc5170;
}
.nav__primary .sf-menu > li.first:after {
  border-color: #fc5170 transparent transparent transparent;
}
.nav__primary .sf-menu > li.first.current-menu-item a,
.nav__primary .sf-menu > li.first.sfHover a,
.nav__primary .sf-menu > li.first:hover a {
  color: #fc5170;
}
.nav__primary .sf-menu > li.second:before {
  background: #ff993f;
}
.nav__primary .sf-menu > li.second:after {
  border-color: #ff993f transparent transparent transparent;
}
.nav__primary .sf-menu > li.second.current-menu-item a,
.nav__primary .sf-menu > li.second.sfHover a,
.nav__primary .sf-menu > li.second:hover a {
  color: #ff993f;
}
.nav__primary .sf-menu > li.third:before {
  background: #80bce6;
}
.nav__primary .sf-menu > li.third:after {
  border-color: #80bce6 transparent transparent transparent;
}
.nav__primary .sf-menu > li.third.current-menu-item a,
.nav__primary .sf-menu > li.third.sfHover a,
.nav__primary .sf-menu > li.third:hover a {
  color: #80bce6;
}
.nav__primary .sf-menu > li.fourth:before {
  background: #aed234;
}
.nav__primary .sf-menu > li.fourth:after {
  border-color: #aed234 transparent transparent transparent;
}
.nav__primary .sf-menu > li.fourth.current-menu-item a,
.nav__primary .sf-menu > li.fourth.sfHover a,
.nav__primary .sf-menu > li.fourth:hover a {
  color: #aed234;
}
.nav__primary .sf-menu > li.fifth:before {
  background: #ffd04e;
}
.nav__primary .sf-menu > li.fifth:after {
  border-color: #ffd04e transparent transparent transparent;
}
.nav__primary .sf-menu > li.fifth.current-menu-item a,
.nav__primary .sf-menu > li.fifth.sfHover a,
.nav__primary .sf-menu > li.fifth:hover a {
  color: #ffd04e;
}
.nav__primary .sf-menu > li:hover ul {
  top: 100%;
}
.nav__primary .sf-menu > li:hover li ul {
  top: -999em;
}
.nav__primary .sf-menu > li:hover:after {
  top: 7px;
}
.nav__primary .sf-menu > li > a {
  font: normal 19px/23px Gabriela;
  color: #161616;
  border: none;
  padding: 0;
  display: inline-block;
  text-transform: lowercase;
  border-radius: 0;
  position: relative;
  letter-spacing: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  transition: all 0.3s ease 0s;
  background: none;
}
.nav__primary .sf-menu > li > a:hover {
  text-decoration: none;
  color: #1d1d1d;
  background: none;
}
.nav__primary .sf-menu > li > a:hover .sf-sub-indicator {
  background-position: -10px -100px;
}
.nav__primary .sf-menu > li > a > .sf-sub-indicator {
  position: absolute;
  display: inline-block;
  top: 30px;
  left: 50%;
  margin-left: -5px;
  background: url("images/arrows-ffffff.png") no-repeat scroll 0 -100px transparent;
}
.nav__primary .sf-menu > li.current-menu-item:after {
  top: 7px;
}
.nav__primary .sf-menu > li.current-menu-item > a {
  text-decoration: none;
  color: #1d1d1d;
  background: none;
}
.nav__primary .sf-menu > li.current-menu-item > a .sf-sub-indicator {
  background-position: -10px -100px;
}
.nav__primary .sf-menu > li.sfHover:after {
  top: 4px;
}
.nav__primary .sf-menu > li.sfHover > a {
  text-decoration: none;
  color: #1d1d1d;
  background: none;
}
.nav__primary .sf-menu > li.sfHover > a .sf-sub-indicator {
  background-position: -10px -100px;
}
.nav__primary .sf-menu > li.sfHover ul {
  top: 100%;
}
.nav__primary .sf-menu > li.sfHover li ul {
  top: -999em;
}
.nav__primary .sf-menu > li > .sub-menu {
  background: #ff993f;
  top: -999em;
  left: 50%;
  width: 130px;
  padding: 15px 25px;
  margin: 28px 0 0 -90px;
  border: none;
  border-radius: 0;
  z-index: 10000;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item {
  background: none;
  text-align: center;
  border: none;
  padding: 5px 0;
  margin: 0;
  border-top: 1px dashed #ffb97a;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item:first-child {
  border: none;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item:hover li ul {
  top: -999em;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item a {
  margin: 0;
  background: none;
  border: none;
  color: #fff;
  text-transform: lowercase;
  display: inline-block;
  border-radius: 0;
  padding: 0;
  letter-spacing: 0;
  font: 19px/37px 'Gabriela', serif;
  transition: all 0.3s ease 0s;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item a:hover {
  color: #ffe9ae;
  text-shadow: none;
  background: none;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item a > .sf-sub-indicator {
  top: 14px;
  left: -20px;
  background: url("images/arrows-ffffff.png") no-repeat scroll 0 0 transparent;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item.sfHover li ul {
  top: -999em;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item.sfHover > a {
  color: #ffe9ae;
  text-shadow: none;
  background: none;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item.sfHover > a .sf-sub-indicator {
  background-position: -10px 0;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item .current-menu-item a {
  color: #ffe9ae;
  text-shadow: none;
  background: none;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item > .sub-menu {
  background: #fc5170;
  padding: 15px 25px;
  margin: -15px 25px 0 0;
  top: 0;
  left: auto;
  right: 100%;
  border: none;
  border-radius: 0;
  width: 100%;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item > .sub-menu > .menu-item {
  background: none;
  text-align: center;
  border: none;
  padding: 5px 0;
  margin: 0;
  border-top: 1px dashed #fd879c;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item > .sub-menu > .menu-item:first-child {
  border: none;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item > .sub-menu > .menu-item:hover ul {
  top: 0;
  left: 10em;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item > .sub-menu > .menu-item a {
  margin: 0;
  padding: 0;
  color: #fff;
  display: inline-block;
  background: none;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item > .sub-menu > .menu-item a:hover {
  color: #ffbbc7;
  text-shadow: none;
  background: none;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item > .sub-menu > .menu-item.current-menu-item a {
  color: #ffbbc7;
  text-shadow: none;
  background: none;
}
.nav__primary .sf-menu > li > .sub-menu > .menu-item > .sub-menu > .menu-item.sfHover ul {
  top: 0;
  left: 10em;
}
@media (min-width: 979px) and (max-width: 1200px) {
  .nav__primary .sf-menu > li {
    width: 160px;
  }
}
@media (min-width: 768px) and (max-width: 979px) {
  .nav__primary .sf-menu > li {
    width: 140px;
  }
}
@media (max-width: 767px) {
  .nav__primary .sf-menu {
    display: none !important;
  }
}
.ie8 #content.right {
  width: 560px;
  padding-right: 30px;
  margin-right: 15px;
}
.ie8 #content.left {
  width: 560px;
  padding-left: 30px;
  margin-left: 15px;
}
/*******/
.float-left {
  float: left;
}
.float-right {
  float: right;
}
[class*="span"] {
  float: left;
  min-height: 1px;
  margin-left: 30px;
  position: relative;
}
.logo-href {
  font: 28px 'Gabriela', serif;
}
.logo-href:hover {
  text-decoration: none;
  color: #337ab7;
}
ul#langs {
  list-style: none;
}
ul#langs li {
  display: inline-block;
}
ul#langs li img.current {
  border: 1px solid red;
}
h1 {
  font: normal 32px/38px Gabriela;
  color: #505050;
}
h1:first-letter {
  text-transform: uppercase;
}
.inline-edit {
  border-bottom: 1px dotted;
}
.ng-invalid.ng-dirty {
  border-color: #FA787E;
}
.alert-panel {
  padding: 10px 0;
}
.freeze-panel {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ffffff;
  opacity: 0.7;
  border-radius: 4px;
  overflow: hidden;
}
.freeze-panel .loader {
  background: url("images/loader.GIF") no-repeat;
  left: 50%;
  top: 50%;
  margin-left: -80px;
  margin-top: -10px;
  position: absolute;
  height: 20px;
  width: 160px;
}
.tab-content {
  position: relative;
}
.row.form-group {
  margin-top: 3px;
  margin-bottom: 3px;
}
.row.form-group div.vert-aling {
  display: table;
  min-height: 34px;
}
.row.form-group div.vert-aling span {
  display: table-cell;
  vertical-align: middle;
}
.row.form-group div.vert-aling span label {
  margin-bottom: 0;
  word-break: break-all;
}
.solid_foods-form {
  columns: 200px 3;
}
input[type='number'],
input[type='time'] {
  -moz-appearance: textfield;
}
input[type='number']::-webkit-inner-spin-button {
  display: none;
}
.tooltip .tooltip-inner {
  background-color: #fa5858;
  max-width: 100%;
}
.tooltip.top .tooltip-arrow {
  bottom: 0;
  left: 50%;
  margin-left: -5px;
  border-width: 5px 5px 0;
  border-top-color: #fa5858;
}
@font-face {
  font-family: 'fontello';
  src: url('/fonts/fontello.eot?12481266');
  src: url('/fonts/fontello.eot?12481266#iefix') format('embedded-opentype'), url('/fonts/fontello.woff?12481266') format('woff'), url('/fonts/fontello.ttf?12481266') format('truetype'), url('/fonts/fontello.svg?12481266#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: none;
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
form .validation-icon {
  position: absolute;
  top: 7px;
  right: 19px;
}
form .validation-icon.icon-spin4 {
  color: #000000;
}
form .validation-icon.icon-ok {
  color: #5cb85c;
}
form .validation-icon.icon-cancel {
  color: #BE0D10;
}
html,
body {
  height: 100%;
}
.wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}
.wrap > .container {
  padding: 70px 15px 20px;
}
.footer {
  height: 60px;
  background-color: #f5f5f5;
  border-top: 1px solid #ddd;
  padding-top: 20px;
}
.jumbotron {
  text-align: center;
  background-color: transparent;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
.not-set {
  color: #c55;
  font-style: italic;
}
/* add sorting icons to gridview sort links */
a.asc:after,
a.desc:after {
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: normal;
  line-height: 1;
  padding-left: 5px;
}
a.asc:after {
  content: "\e151";
}
a.desc:after {
  content: "\e152";
}
.sort-numerical a.asc:after {
  content: "\e153";
}
.sort-numerical a.desc:after {
  content: "\e154";
}
.sort-ordinal a.asc:after {
  content: "\e155";
}
.sort-ordinal a.desc:after {
  content: "\e156";
}
.grid-view th {
  white-space: nowrap;
}
.hint-block {
  display: block;
  margin-top: 5px;
  color: #999;
}
.error-summary {
  color: #a94442;
  background: #fdf7f7;
  border-left: 3px solid #eed3d7;
  padding: 10px 20px;
  margin: 0 0 15px 0;
}
.ajax-loader {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background: url("../img/ajax-loader-bg.png");
  z-index: 1000;
}
.ajax-loader .spinner {
  background: url("../img/ajax-loader.gif");
  width: 80px;
  height: 80px;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-top: -40px;
  margin-left: -40px;
}
.sign-up-block {
  width: 50%;
  margin: 0 auto;
}
.sign-up-result {
  text-align: center;
  width: 70%;
  margin: 60px auto 320px auto;
  display: none;
}
